.svg-map {
  width: 90%;
  margin:0 auto;
  height: auto;
  stroke: #666;
  border:1px solid black;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round; }
  .svg-map__location {
    fill: #a1d99b;
    cursor: pointer; }
    .svg-map__location:focus, .svg-map__location:hover {
      fill: #b8e2b3;
      outline: 0; }
    .svg-map__location[aria-checked=true] 
    {
      fill: #f4bc44; 
    }

body{
  background:#6277a6;
}

.main-container{
  width:100%;
  display:grid;
  justify-items:center;
}

.svg-map-grid-item{
  width:100%;
  max-width:1200px;
  max-height:400px;
}

li{
  display:inline-block;
  margin-left:10px;
  color:white;
}

h1{
  font-size:26px;
  width: 90%; 
  justify-self:start;
  background:yellow;
  margin-top:3px;
  margin-bottom:0;
  text-align:center;
}

p{
  color:white;
}